.container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 40px;
    margin-bottom: 170px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 24px;
}

.section {
    font-weight: bold;
}
